:root {
    --primary-color: #384e6b;
    --secondary-color: #ebd494;
    --accent1-color: #3da5d9;
    --accent2-color: #d0e4c9;
}


/* header/nav/logo styling */

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    border-bottom: 5px solid black;
    padding-bottom: 25px;
}

header img {
    justify-self: right;
}

nav {
    justify-self: center;
    display: flex;
}

.navigation a {
    flex: 1 1 100%;
    text-decoration: none;
    color: var(--primary-color);
    border: 1px solid black;
    padding: 5px 50px 5px 50px;
}


/* whole body styling */

body {
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    color: black;
    /* max-width: 1200px; */
}


/* hero styling */

h1 {
    font-weight: 300;
    color: var(--secondary-color);
}

.hero h1 {
    position: absolute;
    left: 45%;
    bottom: 40%;
    font-weight: 500;
    text-align: center;
    background-color: black;
}

.hero article {
    position: absolute;
    display: grid;
    background-color: var(--accent2-color);
    opacity: 0.99;
    width: 150px;
    border: 1px solid black;
    right: 75px;
    top: 280px;
}

.hero article img {
    width: 100%;
    height: auto;
}

.hero img {
    float: right;
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
}


/* home page styling */

.newsletter-schedule-trip {
    padding-top: 325px;
    display: flex;
}

.newsletter-schedule-trip section h2 {
    text-align: center;
}

.trip-ad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px;
}

.trip-ad img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    grid-column: 1/3;
}

.customer-testimonial {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px;
    justify-items: center;
    align-items: center;
}

.customer-testimonial img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    grid-column: 3/4;
}

.customer-testimonial p {
    grid-column: 1/3;
}


/* about page styling */

.history h2 {
    text-align: center;
}

.history p {
    padding-left: 100px;
    padding-right: 100px;
}

.adventure {
    display: grid;
    grid-template: 75px 125px / repeat(5,1fr);
    padding-bottom: 75px;
}

.adventure h2 {
    grid-column: 1/span 5;
    grid-row: 1/2;
    text-align: center;
}

.adventure figure img {
    width: auto;
    height: 150%;
}

.adventure figure figcaption {
    text-align: center;
}


/* trips page styling */




/* Contact Page Styling */

.employees {
    display: grid;
    grid-template: 75px 250px / repeat(3,1fr);
    padding-top: 315px;
    padding-bottom: 30px;
}

.employees h2 {
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
}

.employees figure figcaption {
    text-align: center;
}

.message-reason {
    list-style-type: none;
}

.send-message {
    align-self: center;
    display: grid;
    width: 428px;
}


/* footer styling */

footer {
    text-align: center;
    border-top: 1px solid black;
    padding-top: 10px;
    background-color: var(--accent1-color);
}

.social-links {
    display: grid;
    grid-template-columns: 135px 5fr 45px 45px 45px;
    text-decoration: none;
}